#global codeowner
* @ncr-bsp/argonauts-squad

#dev/staging and non SRE required folders
/apps/business-services-platform/NAMER/development/ @ncr-bsp/bsp
/apps/business-services-platform/NAMER/staging/ @ncr-bsp/bsp
/apps/ASM/business-services-platform/NAMER/development/ @ncr-bsp/bsp
/apps/ASM/business-services-platform/NAMER/staging/ @ncr-bsp/bsp
/apps/technical-services/NAMER/development/ @ncr-bsp/bsp
/apps/technical-services/NAMER/staging/ @ncr-bsp/bsp
/apps/ASM/technical-services/NAMER/development/ @ncr-bsp/bsp
/apps/ASM/technical-services/NAMER/staging/ @ncr-bsp/bsp
/apps/ASM/messaging/US/dev/ @ncr-bsp/bsp
/apps/devex/NAMER/development @ncr-bsp/bsp
/apps/devex/NAMER/staging @ncr-bsp/bsp

/clusters/business-services-platform-dev/ @ncr-bsp/bsp
/clusters/business-services-platform-stg/ @ncr-bsp/bsp
/clusters/technical-services-dev/ @ncr-bsp/bsp
/clusters/technical-services-stg/ @ncr-bsp/bsp
/clusters/devex-dev/ @ncr-bsp/bsp
/clusters/devex-nonprod/ @ncr-bsp/bsp


#redundant SRE only folders
/apps/bsp-sretools-cug01-stg/ @ncr-bsp/bsp-sre
/clusters/bsp-sretools/ @ncr-bsp/bsp-sre
/clusters/bsp-sretools-cug01-stg/ @ncr-bsp/bsp-sre
/common-resources/ @ncr-bsp/bsp-sre
/infrastructure/ @ncr-bsp/bsp-sre
